$pink: #ff9fd7;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html,
body,
#root{
    background-color: rgb(255, 255, 255);
    height: 100vh;
}

#root{
    display: flex;
    flex-direction: column;
}

#main__header{
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    padding: 1rem 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);


    nav{
        display: flex;

        a{
            color: black;
            text-decoration: none;
            margin-left: 0.5rem;
            padding: 1rem;
            
            &:hover{
                color: white;
                background-color: black;
            }
        }

         .carrito{
           margin-left: 1rem;
           align-self: center;
        }
    }
}

main{
    flex-grow: 1;
}

.container{
    display:block;
    align-items: center;
    margin: auto;
    padding: 3rem;

    #imagenes{
        display: flex;
        margin: 10;
        padding: 1rem;

        #imagenes img{          
            flex-wrap: nowrap;
        }
    }

    #productos{
        display:grid;
        flex-grow: 1;
        justify-content: center;
        align-items: center;
        margin-right: 2rem;
        list-style: none;

        h4{
            font-size: 20px;
            color: #ff9fd7;
            padding-bottom: 0.5rem;
            text-align: center;
        }

        h5{
            font-size: 18px;
            padding-bottom: 0.5rem;
            text-align: center;
        }

        h6{
            font-size: 20px;
            color: #808080;
            padding-bottom: 0.5rem;
            text-align: center;
        }

        p{
            font-size: 12px;
            color: rgb(0, 0, 0);
            padding-bottom: 0.5rem;
            text-align: center;

        }

        .btn{
            padding: 1rem;
            font-size: 12px;
            border-radius: 10px;
            margin-bottom: 0.5rem;
            width: 100%;
            background-color: #ff9fd7;
            text-align: center;
            justify-content: center;
            list-style: none;

            .pcarrito{
                list-style: none;
            }
        }

        .confirmar{
            padding: 1rem;
            font-size: 10px;
            border-radius: 10px;
            margin-bottom: 0.5rem;
            width: 100%;
            text-align: center;
            justify-content: center;
            background-color: #000000;
            color: #fff;
        }
        
        .detalle{
            padding: 1rem;
            font-size: 10px;
            border-radius: 10px;
            margin-bottom: 0.5rem;
            text-align: center;
            justify-content: center;
            color: #fff;

            .detalleB{
            padding: 1rem;
            font-size: 10px;
            border-radius: 10px;
            margin-bottom: 0.5rem;
            text-align: center;
            justify-content: center;
            color: #000000;
            background-color: #ff9fd7;
            }
        }

    }
}

#main__footer{
    background-color: rgb(0, 0, 0);
    display: grid;
    grid-template-columns: 1,2;
    padding: 1.5rem;
    box-shadow: 3px 0 8px rgba(0,0,0,0.5);
    color: rgb(255, 255, 255);
    text-align: center;

    #contacto__redes{
        font-size: 1rem;
        font-weight: bolder;
        color: white;
    }

    #contacto__w{
        font-size: 0.9rem;
        color: $pink;
        padding-bottom: 1rem;
    }

    #redes a{
        text-decoration: none;
        justify-self: center;
        padding: 1rem;
        color: white;
        font-size: 2.5rem;
        padding-top: 3rem;
    }
}
